body {
    margin: 0;
    padding: 0;
}

section {
    height: calc(100vh - 50px);
}

ul {
    position: absolute;
    bottom: 0;
    left: 0;
    margin: 0;
    padding: 0;
    background: #000;
    width: 100%;
    height: 50px;
    display: flex;
}

ul li {
    position: relative;
    list-style: none;
    width: 20%;
    height: 100%;
}

ul li:nth-child(1) {
    background: #FF5500;
}

ul li:nth-child(2) {
    background: #5500FF;
}

ul li:nth-child(3) {
    background: #00B3B3;
}

ul li:nth-child(4) {
    background: #44CC00;
}

ul li:nth-child(5) {
    background: #3645A0;
}